#shop-hero {
  background: url("../images/banner/shop-hero-banner.jpeg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 30vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#shop-hero h3 {
  color: #fff;
  font-size: 24px;
}

#shop-hero p {
  color: #fff;
  font-size: 16px;
}

#shop-hero h4 {
  color: #fff;
  font-size: 20px;
}

#feature-products h4 {
  color: #905e96;
  font-size: 24px;
}

#shop-features h6 {
  color: #ee71b1;
}

#shop-features h2 {
  color: #684848;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  padding: 15px 20px;
  background-color: #088178;
  color: #fff;
  font-weight: 800;
  border-radius: 4px;
}

#pagination a.page_active,
#pagination a:hover {
  background-color: #eb9a9a;
}

/* Media Queries */

@media (max-width: 499px) {
  #shop-hero p {
    font-size: 12px;
  }

  #shop-features {
    margin: 20px 0;
    padding: 10px;
  }

  #shop-features h2 {
    font-size: 25px;
  }

  #shop-features h6 {
    font-size: 15px;
  }

  #feature-products h4 {
    margin: 10px 0 20px;
  }
}
